/* San Francisco Pro Regular (+Italic) and Bold (+Italic) and Heavy */

@font-face {
	font-family: SF-Pro;
	font-weight: 400;
	src: url(fonts/SF-Pro-Regular.woff2);
}

@font-face {
	font-family: SF-Pro;
	font-weight: 400;
	font-style: italic;
	src: url(fonts/SF-Pro-Regular-Italic.woff2);
}

@font-face {
	font-family: SF-Pro;
	font-weight: 700;
	src: url(fonts/SF-Pro-Bold.woff2);
}


/* San Francisco Mono Regular and Bold */

@font-face {
	font-family: SF-Mono;
	font-weight: 400;
	src: url(fonts/SF-Mono-Regular.woff2);
}

@font-face {
	font-family: SF-Mono;
	font-weight: 700;
	src: url(fonts/SF-Mono-Bold.woff2);
}

/* General body styling */

html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'SF-Pro';
	background-color: var(--dark-bg);

	color: var(--text);

}


/* Font sizing */

h1, h2, h3, h4, h5, h6, p {
	/* color: var(--text); */
	margin: 0;
} 

h1,
h1 a {
	font-size: calc(1.355rem + 1.26vw);
	margin-bottom: 10px
}

@media (min-width: 1200px) {
	h1,
	h1 a {
		font-size: 2.3rem;
	}
}


h2,
h2 a {
	font-size: calc(1.295rem + 0.54vw);
}

@media (min-width: 1200px) {
	h2,
	h2 a {
		font-size: 1.7rem;
	}
}

h3,
h3 a {
	font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
	h3,
	h3 a {
		font-size: 1.5rem;
	}
}

h4,
h4 a {
	font-size: 1.2rem;
}

h5,
h5 a {
	font-size: 0.9rem;
}

h6,
h6 a {
	font-size: 1rem;
}

p,
p a {
	font-size: 1rem;
	line-height: 150%;
	margin-bottom: 10px
}

p a {
	font-weight: 600;
	color: var(--link-color);
	padding: 5px;
	box-shadow: inset 0 -2px 0 var(--link-color);
	transition: 0.2s;
}
p a:hover {
	box-shadow: inset 0 -35px 0 var(--link-color);
	color: var(--dark-bg)
}

h2 a {
	color: var(--link-color);
	padding: 5px;
	box-shadow: inset 0 -2px 0 var(--link-color);
	transition: 0.2s;
}
h2 a:hover {
	box-shadow: inset 0 -40px 0 var(--link-color);
	color: var(--dark-bg)
}

a {
	text-decoration: none;
	color: var(--text)
}

/* Section-spacing styling */


.width-restriction {
	width: 85%;
	margin: 0 auto;
}

.mono {
	font-family: SF-Mono;
}

/* Palette and class colour styling*/
:root {
	/* Backgrounds */
	--dark-bg: #0a192f;
	--light-dark-bg: #112240;
	
	/* Text styling */
	--text: #ccd6f6;
	--link-color: #b2cbfa;
	--link-green: #64ffda;
	--link-green-low: #64ffdb42;
	
	/* Palette */
	--red: #ce3737;
	--green: #00ff00;
	--blue: #0000ff;

	/* Cards */
	--card-hover-bg: #1232614f;
}

.white {
	color: white;
}
.red {
	color: var(--red)
}

/* Cards */
.card {
	width: 90%;
	background-color: var(--light-dark-bg);
	border-radius: 4px;
	padding: 20px 0;
	margin: 10px 0;
	box-shadow: 0 0px 30px -15px rgb(11, 3, 26);
	transition: 0.2s;
	cursor: pointer;
}
.card:hover {
	background-color: var(--card-hover-bg);
	box-shadow: 0 10px 20px -15px rgb(11, 3, 26);
}

.card .width-restriction input {
	margin-bottom: 15px !important;
    margin-right: 8px;
	position: relative;
	top: 1px;
	border-radius: 2px;
}
.card .width-restriction input:checked {
	box-shadow: 0 0 2px 2px var(--link-green);
}

/* Button */
button {
	background-color: var(--dark-bg);
	border: 2px solid var(--link-green);
	border-radius: 5px;
	padding: 8px 20px;
	margin-right: 10px;
	margin-bottom: 5px;
	color: var(--link-green);
	transition: 0.2s;
	font-family: "SF-Pro";
}
button:hover {
	background-color: var(--link-green-low);
} 